@font-face {
  font-family: "Geometria_Bold";
  src: url("/fonts/Geometria-Bold/Geometria-Bold.eot");
  src: url("/fonts/Geometria-Bold/Geometria-Bold.eot#iefix") format('eot'), url("/fonts/Geometria-Bold/Geometria-Bold.woff") format('woff'), url("/fonts/Geometria-Bold/Geometria-Bold.ttf") format('truetype'), url("/fonts/Geometria-Bold/Geometria-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geometria_Medium";
  src: url("/fonts/Geometria-Medium/Geometria-Medium.eot");
  src: url("/fonts/Geometria-Medium/Geometria-Medium.eot#iefix") format('eot'), url("/fonts/Geometria-Medium/Geometria-Medium.woff") format('woff'), url("/fonts/Geometria-Medium/Geometria-Medium.ttf") format('truetype'), url("/fonts/Geometria-Medium/Geometria-Medium.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria/Geometria.eot");
  src: url("/fonts/Geometria/Geometria.eot#iefix") format('eot'), url("/fonts/Geometria/Geometria.woff") format('woff'), url("/fonts/Geometria/Geometria.ttf") format('truetype'), url("/fonts/Geometria/Geometria.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Symbola";
  src: url("/fonts/Symbola/Symbola_hint.eot");
  src: url("/fonts/Symbola/Symbola_hint.eot#iefix") format('eot'), url("/fonts/Symbola/Symbola_hint.woff") format('woff'), url("/fonts/Symbola/Symbola_hint.ttf") format('truetype'), url("/fonts/Symbola/Symbola_hint.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
.button_1 {
  transition: all .5s ease 0s;
  font-family: 'exo2-regular';
  font-size: 20px;
  text-decoration: none !important;
  background: #ffa400;
  color: #fff;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
  line-height: 22px;
  margin: 0px;
  padding: 26px 25px;
  border: 0px;
}
.button_1:hover,
.button_1:focus {
  color: #fff;
  background: #ffbd00;
}
@media (max-width: 768px) {
  .button_1 {
    padding: 14px;
    font-size: 14px;
    width: 200px;
    display: block;
    margin: 0 auto !important;
  }
}
.button_2 {
  transition: all .5s ease 0s;
  font-family: 'exo2-regular';
  font-size: 20px;
  text-decoration: none !important;
  background: #fff;
  color: #000;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  display: inline-block;
  border-radius: 4px;
  line-height: 22px;
  margin: 0px;
  padding: 26px 25px;
  border: 0px;
}
.button_2:hover,
.button_2:focus {
  color: #000;
  background: #e4e4e4;
}
@media (max-width: 768px) {
  .button_2 {
    padding: 14px;
    font-size: 14px;
    width: 200px;
    display: block;
    margin-left: 0px;
    margin: 0 auto !important;
  }
}
.button_2 .icon:before {
  font-family: icons;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.06;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 28px;
  line-height: 0px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .button_2 .icon:before {
    margin-right: 10px;
  }
}
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.container {
  width: 100% !important;
  padding: 0px 32px;
}
@media (max-width: 768px) {
  .container {
    padding: 0px 15px;
  }
}
section {
  position: relative;
  padding: 50px 0px 50px 0px;
  overflow: hidden;
}
@media (max-width: 992px) {
  section {
    padding: 40px 0px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 30px 0px;
  }
}
p,
div,
span,
a,
i,
strong {
  font-family: "Geometria", Arial, Helvetica, Garuda, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}
@media (max-width: 1200px) {
  p,
  div,
  span,
  a,
  i,
  strong {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  p,
  div,
  span,
  a,
  i,
  strong {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  p,
  div,
  span,
  a,
  i,
  strong {
    font-size: 18px;
  }
}
h2 {
  font-family: "Geometria_Bold", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  font-weight: 400;
  font-size: 64px;
  margin: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 30px;
  }
}
h3 {
  font-family: "Geometria_Bold", Arial, Helvetica, Garuda, sans-serif;
}
.mycontainer {
  overflow: hidden;
  width: 85%;
  padding-left: 0px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .mycontainer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
body {
  /*
     * Меню
     */
  /*
     * Header
     */
  /*
     * Наши работы
     */
  /*
     * Platforma
     */
  /*
     * Команда
     */
  /*
     * Команда
     */
}
body #menu.scrolled {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}
body #menu {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-height: 64px;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  background: #fff;
  background: transparent;
  width: 100%;
  border: 0px !important;
}
@media (max-width: 769px) {
  body #menu {
    background: rgba(255, 255, 255, 0.97);
    display: none;
  }
}
@media (max-width: 992px) {
  body #menu .container {
    width: auto;
    margin: 0px 20px;
  }
}
@media (max-width: 768px) {
  body #menu .container {
    width: auto;
    margin: 0px 15px;
  }
}
body #menu li {
  margin-right: 18px;
}
@media (max-width: 992px) {
  body #menu li {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  body #menu li {
    text-align: left;
  }
}
body #menu li a {
  font-family: "Geometria_Bold", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  padding: 18px 2px 16px;
}
body #menu li a:hover,
body #menu li a:focus {
  color: #5ad2fc !important;
}
body #menu .navbar-brand {
  width: 30px;
  height: 30px;
  background-color: #0d0e24;
  margin: 0px;
  margin-top: 13px;
  margin-right: 13px;
  background: url('/img/site/menu/triangle.png') center center no-repeat;
}
body #menu .navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}
body #menu .navbar-collapse {
  text-align: center;
}
@media (max-width: 768px) {
  body #menu .navbar-collapse {
    max-height: inherit !important;
    max-height: none !important;
    height: auto;
  }
}
body #menu .navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
body #menu .navbar-collapse.in {
  overflow-y: auto;
}
body #menu .dropdown-menu {
  left: -55px;
  margin-top: -5px !important;
}
@media (max-width: 768px) {
  body #menu .dropdown-menu {
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
  }
}
body #menu .navbar-toggle {
  margin-top: 20px;
  margin-right: 0px;
  border: 1px solid #2AAEF5;
  border-color: #2AAEF5;
  color: #2AAEF5;
  padding: 7px 4px;
}
body #menu .navbar-toggle:hover,
body #menu .navbar-toggle:focus {
  background-color: #2AAEF5;
}
body #menu .navbar-toggle:hover .icon-bar,
body #menu .navbar-toggle:focus .icon-bar {
  background-color: #fff;
  width: 22px;
}
body #menu .navbar-toggle .icon-bar {
  background-color: #2AAEF5;
  width: 22px;
}
body .mobile_menu {
  display: none;
  background: black;
  overflow: hidden;
}
@media (max-width: 768px) {
  body .mobile_menu {
    display: block;
    position: absolute;
    position: fixed;
    left: 0;
    bottom: 0;
    background: black;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
  }
}
body .mobile_menu #menumobile {
  position: relative;
  overflow: hidden;
  padding: 10px 0px;
}
body .mobile_menu #menumobile .item {
  text-align: center;
}
@media (max-width: 340px) {
  body .mobile_menu #menumobile .item {
    padding: 0px;
  }
}
body header {
  overflow: hidden;
  padding: 0px;
  padding-bottom: 50px;
  min-height: 550px;
}
@media (max-width: 768px) {
  body header {
    min-height: 350px;
    background: url('/img/site/index/header/bg460.jpg') no-repeat bottom center;
    background-size: cover;
  }
}
body header .bg {
  width: 100%;
}
body header .bg1900 {
  display: none;
}
@media (min-width: 1250px) {
  body header .bg1900 {
    display: block;
  }
}
body header .bg1200 {
  display: none;
}
@media (min-width: 768px) and (max-width: 1250px) {
  body header .bg1200 {
    display: block;
  }
}
body header .bg768 {
  display: none;
}
@media (min-width: 550px) and (max-width: 768px) {
  body header .bg768 {
    display: block;
  }
}
body header .bg500 {
  display: none;
}
@media (min-width: 400px) and (max-width: 550px) {
  body header .bg500 {
    display: block;
  }
}
body header .bg460 {
  display: none;
}
@media (min-width: 300px) and (max-width: 400px) {
  body header .bg460 {
    display: block;
  }
}
body header .bg400 {
  display: none;
}
@media (max-width: 300px) {
  body header .bg400 {
    display: block;
  }
}
body header .container {
  position: absolute;
  z-index: 2;
}
body header div.title {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  margin-top: 150px;
}
@media (max-width: 992px) {
  body header div.title {
    margin-top: 100px;
  }
  body header div.title img {
    top: -4px;
    position: relative;
  }
}
@media (max-width: 768px) {
  body header div.title {
    margin-top: 60px;
    padding-bottom: 20px;
  }
  body header div.title img {
    top: -6px;
    position: relative;
  }
}
body header div.title img {
  vertical-align: top;
}
body header p,
body header span {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
}
body header p img,
body header span img {
  vertical-align: top;
}
body header p.our {
  margin-top: 30px;
}
body header .logo {
  margin: 10px 0px 15px;
}
@media (max-width: 992px) {
  body header .logo {
    width: 220px;
  }
}
body section.our_works {
  padding: 0px 0px 0px 0px;
  background: transparent;
}
@media (max-width: 768px) {
  body section.our_works .container {
    padding: 0px 15px;
  }
}
body section.our_works h2 {
  margin-bottom: 50px;
}
body section.our_works h2 img {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}
@media (max-width: 768px) {
  body section.our_works h2 img {
    position: relative;
    top: -30px;
  }
}
@media (max-width: 360px) {
  body section.our_works h2 img {
    height: 50px;
  }
}
body section.our_works h2 br {
  display: none;
}
@media (max-width: 768px) {
  body section.our_works h2 br {
    display: block;
  }
}
@media (max-width: 768px) {
  body section.our_works h2 {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 10px;
  }
}
@media (max-width: 360px) {
  body section.our_works h2 {
    font-size: 30px;
  }
}
body section.our_works .items {
  overflow: hidden;
  display: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  background: #000;
  border: 1px solid transparent;
}
body section.our_works .items .items_row {
  display: table-row;
  margin: 0px;
  padding: 0px;
}
body section.our_works .items .item {
  position: relative;
  overflow: hidden;
  padding: 10px;
  padding-top: 120px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: table-cell;
  width: 16.6%;
  box-sizing: border-box;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all .8s;
}
body section.our_works .items .item:hover:after {
  transform: scale(1.9);
}
body section.our_works .items .item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  transition: inherit;
}
@media (max-width: 768px) {
  body section.our_works .items .item {
    padding-top: 260px;
  }
}
@media (max-width: 400px) {
  body section.our_works .items .item {
    padding-top: 160px;
  }
}
body section.our_works .items .item .in {
  position: relative;
  z-index: 10;
}
body section.our_works .items .item .title {
  padding-top: 25px;
  font-family: "Geometria_Bold", Arial, Helvetica, Garuda, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
}
body section.our_works .items .item .info {
  padding-top: 10px;
  font-family: "Geometria", Arial, Helvetica, Garuda, sans-serif;
  color: #fff;
  font-size: 14px;
}
body section.our_works .items .item .type {
  padding-top: 25px;
}
@media (min-width: 1280px) {
  body section.our_works .items.size_1920 {
    display: table;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  body section.our_works .items.size_1280 {
    display: table;
  }
}
@media (max-width: 768px) {
  body section.our_works .items.size_768 {
    display: block;
  }
  body section.our_works .items.size_768 .items_row {
    display: block;
    width: 100%;
  }
  body section.our_works .items.size_768 .items_row .item {
    display: block;
    width: 100%;
  }
}
body section.platforma {
  background: url('/img/site/index/platforma/bg.png') bottom center no-repeat #f9cd3f;
  background-size: contain;
  background-color: #f9cd3f;
  min-height: 600px;
}
@media (min-width: 1600px) {
  body section.platforma {
    min-height: 700px;
  }
}
@media (max-width: 768px) {
  body section.platforma {
    min-height: 450px;
    background: url('/img/site/index/platforma/bg_mobile2.png') bottom center no-repeat #f9cd3f;
    background-size: contain;
  }
}
@media (max-width: 500px) {
  body section.platforma {
    min-height: 450px;
    background: url('/img/site/index/platforma/bg_mobile.png') bottom center no-repeat #f9cd3f;
    background-size: contain;
  }
}
body section.platforma p {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  max-width: 50%;
  clear: both;
  margin: 30px 0px;
}
@media (max-width: 768px) {
  body section.platforma p {
    max-width: 90%;
  }
}
body section.platforma .right {
  float: right;
  margin-top: 25px;
}
@media (max-width: 768px) {
  body section.platforma .right {
    margin-top: 0px;
  }
}
body section.platforma .right a {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  font-size: 14px;
  display: inline-block;
}
body section.platforma .right a:hover,
body section.platforma .right a:focus {
  text-decoration: none;
}
body section.team {
  background: #fff;
  min-height: 600px;
}
body section.team p {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  font-size: 24px;
  max-width: 50%;
  clear: both;
  margin: 30px 0px;
}
body section.team .items {
  overflow: hidden;
  padding: 50px 40px 10px 40px;
}
@media (max-width: 768px) {
  body section.team .items {
    padding: 30px 0px 0px 0px;
    max-width: 250px;
    margin: 0 auto;
  }
}
body section.team .items .item {
  float: left;
  width: 130px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  body section.team .items .item {
    width: 110px;
    height: auto;
  }
}
@media (max-width: 768px) {
  body section.team .items .item img {
    max-width: 100px;
  }
}
body section.team .items .item .name {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  font-size: 14px;
  text-align: center;
}
body section.team .items .item .position {
  color: #0f1328;
  font-size: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  body section.team .items .item:nth-child(2n) {
    margin-right: 0px;
  }
}
body section.team .right {
  float: right;
  margin-top: 25px;
}
@media (max-width: 768px) {
  body section.team .right {
    display: none;
  }
}
body section.team .right a {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #0f1328;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 10px;
  border: 2px dashed #e0e0e0;
}
body section.team .right a:hover,
body section.team .right a:focus {
  text-decoration: none;
  background: #f4f4f4;
}
body section.contacts {
  background: #0f1328;
  min-height: 300px;
}
body section.contacts h2 {
  color: #fff;
}
body section.contacts .items {
  margin-top: 50px;
}
body section.contacts .items > div {
  float: left;
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #fff;
  font-size: 24px;
  margin-right: 100px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  body section.contacts .items > div {
    margin-right: 50px;
    font-size: 22px;
  }
}
@media (max-width: 1050px) {
  body section.contacts .items > div {
    margin-right: 30px;
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  body section.contacts .items > div {
    margin-right: 30px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  body section.contacts .items > div {
    float: none;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 30px;
    font-size: 18px;
  }
}
body section.contacts .items > div img {
  vertical-align: top;
}
body section.contacts .items > div a {
  color: #fff;
  text-decoration: none;
}
body section.contacts .items > div:last-child {
  margin-right: 0px;
}
body section.contacts .right {
  float: right;
  margin-top: 25px;
}
@media (max-width: 768px) {
  body section.contacts .right {
    display: none;
  }
}
body section.contacts .right a {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #fff;
  font-size: 14px;
}
body section.contacts .social {
  margin-top: 30px;
}
body section.contacts .social a {
  font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
  color: #fff;
  font-size: 14px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}
.nav > li > form > button.logout:focus {
  outline: none;
}
.modal-windows-container {
  min-height: 230px;
  background-color: #ffffff;
}
.modal-windows-container .container {
  text-align: center;
}
.modal-windows-container .container .btn-modal-view {
  margin-bottom: 50px;
  font-weight: bold;
  padding: 8px 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #2f9123;
  border: none;
  border-radius: 22px;
  outline: none;
  -webkit-box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
  -moz-box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
  box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
}
.modal-windows-container .container .btn-modal-view:hover,
.modal-windows-container .container .btn-modal-view:focus {
  text-decoration: none;
  background: #226819;
}
.modal-dialog {
  max-width: 840px;
  width: 100%;
}
@media (min-width: 880px) {
  .modal-dialog {
    width: 100%;
    max-width: 1400px;
  }
}
.modal-dialog .modal-content {
  max-width: 840px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #fafafa;
}
@media (min-width: 880px) {
  .modal-dialog .modal-content {
    width: 100%;
    max-width: 1400px;
  }
}
.modal-dialog .modal-content .modal-header {
  border: 0px;
  height: 0px;
}
.modal-dialog .modal-content .modal-header .close {
  font-size: 31px;
  outline: 0;
}
.modal-dialog .modal-content .modal-body {
  background-color: #fafafa;
  padding: 0 !important;
  margin: 0 !important;
  min-height: 2600px;
}
.modal-dialog .modal-content .modal-body .high-div {
  margin-top: 67px;
  width: 100%;
  height: 100px;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .high-div {
    margin-top: 40px;
  }
}
.modal-dialog .modal-content .modal-body .high-div > p {
  float: left;
  padding-left: 72px;
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .high-div > p {
    padding-left: 40px;
  }
}
@media (max-width: 381px) {
  .modal-dialog .modal-content .modal-body .high-div > p {
    padding-left: 25px;
  }
}
@media (max-width: 360px) {
  .modal-dialog .modal-content .modal-body .high-div > p {
    padding-left: 18px;
  }
}
.modal-dialog .modal-content .modal-body .high-div > p > img {
  max-width: 80px;
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .high-div > p > img {
    max-width: 60px;
  }
}
.modal-dialog .modal-content .modal-body .high-div > h2 {
  float: left;
  text-align: left;
  text-transform: none;
  padding-left: 22px;
  padding-top: 16px;
  font-weight: bold;
  font-size: 23px;
  line-height: 22px;
  color: #404040;
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .high-div > h2 {
    padding-top: 9px;
  }
}
@media (max-width: 420px) {
  .modal-dialog .modal-content .modal-body .high-div > h2 {
    padding-top: 7px;
    font-size: 19px;
    line-height: 22px;
    padding-left: 16px;
  }
}
@media (max-width: 360px) {
  .modal-dialog .modal-content .modal-body .high-div > h2 {
    font-size: 18px;
    padding-left: 12px;
    padding-right: 0px !important;
  }
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile {
  float: right;
  width: 120px;
  margin-top: 15px;
  margin-right: 50px;
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile > p {
  margin-right: 9px;
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .high-div .right-mobile {
    margin-right: 20px;
  }
}
@media (max-width: 550px) {
  .modal-dialog .modal-content .modal-body .high-div .right-mobile {
    display: none;
  }
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile .first {
  float: left;
  padding-top: 29px;
  font-size: 0px !important;
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile .first > img {
  max-height: 18px;
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile .second {
  float: left;
  padding-top: 8px;
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile .second > img {
  max-height: 40px;
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile .third {
  float: left;
}
.modal-dialog .modal-content .modal-body .high-div .right-mobile .third > img {
  max-height: 48px;
}
.modal-dialog .modal-content .modal-body .big_img {
  width: 100%;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .big_img > img {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .modal-dialog .modal-content .modal-body .big_img > img {
    width: 95%;
  }
}
.modal-dialog .modal-content .modal-body .txt-row {
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt-row {
    max-width: 500px;
  }
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt-row .txt-item {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt-row .txt-item {
    padding: 0px;
    padding-top: 0px;
  }
}
.modal-dialog .modal-content .modal-body .txt-row .txt-item > h3 {
  text-align: left;
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  color: #434343;
  margin-bottom: 2px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt-row .txt-item > h3 {
    font-size: 20px;
  }
}
.modal-dialog .modal-content .modal-body .txt-row .txt-item > p {
  text-align: left;
  text-transform: none;
  color: #5b5b5b;
  font-size: 14px;
  line-height: 19px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt-row .txt-item > p {
    font-size: 20px;
    line-height: 27px;
  }
}
.modal-dialog .modal-content .modal-body .txt-row .txt-item:first-child {
  padding-left: 0px;
}
.modal-dialog .modal-content .modal-body .txt-row .txt-item:last-child {
  padding-right: 0px;
}
.modal-dialog .modal-content .modal-body .bg_gray {
  float: none;
  clear: both;
  width: 100%;
  padding-bottom: 40px;
  overflow: hidden;
  height: auto;
  background: url('/img/site/modal/bg_gray.png') no-repeat top center #ffffff;
  padding-top: 40px;
}
.modal-dialog .modal-content .modal-body .bg_gray .text_gray {
  width: 100%;
  margin: 0 auto;
  height: 120px;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray {
    max-width: 500px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .text_gray > p {
  display: block;
  max-width: 676px;
  width: 100%;
  margin: 0 auto !important;
  float: left;
  text-align: left;
  text-transform: none;
  font-size: 22px;
  line-height: 24px;
  color: #404040;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray > p {
    font-size: 28px;
    line-height: 34px;
  }
}
@media (min-width: 800px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray > p {
    max-width: 1300px;
  }
}
@media (max-width: 800px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray > p {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray > p {
    max-width: 500px;
    margin: 0 auto !important;
  }
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray > p {
    font-size: 18px;
    line-height: 22px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .text_gray > p > span {
  font-weight: bold;
  font-size: 23px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray > p > span {
    font-size: 28px;
    line-height: 34px;
  }
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .bg_gray .text_gray > p > span {
    font-size: 18px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .big_img_gray {
  width: 100%;
  text-align: right;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .big_img_gray > img {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .big_img_gray > img {
    width: 95%;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray {
  background-color: #ffffff;
  margin: 0 auto;
  padding-left: 0px;
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray h4 {
  float: none;
  clear: both;
  width: 100%;
  text-align: left;
  text-transform: none;
  font-size: 22px;
  line-height: 24px;
  color: #404040;
  padding-left: 0px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray h4 {
    font-size: 28px;
    line-height: 34px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray h4 {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
  }
}
@media (max-width: 550px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray h4 {
    font-size: 18px;
    line-height: 22px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .txt-item {
  padding-left: 0px;
  padding-top: 40px;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .txt-item {
    padding-top: 20px;
    padding-right: 0px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .txt-item > p {
  text-align: left;
  text-transform: none;
  color: #5b5b5b;
  font-size: 14px;
  line-height: 19px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .txt-item > p {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .txt-item > p {
    max-width: 500px;
    margin: 0 auto;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .txt-item > p:last-child {
  padding-top: 55px;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .txt-item > p:last-child {
    padding-top: 25px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item {
  overflow: visible;
  padding-top: 30px;
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray {
  position: absolute;
  float: right;
  right: 0px;
  width: 45%;
  height: 110px;
  background-color: #f5f5ea;
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: visible;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray {
    height: 160px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-right: -15px;
    margin-top: 80px;
  }
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray {
    max-width: 300px;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray > img {
  float: left;
  position: relative;
  margin-top: -42px;
  margin-left: 20px;
  max-height: 132px;
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray > img {
    margin: 0 auto;
    margin-top: -42px;
    float: none;
    max-height: none;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray > p {
  max-width: 180px;
  float: left;
  text-align: left;
  text-transform: none;
  color: #5b5b5b;
  font-size: 14px;
  line-height: 19px;
  padding-left: 20px;
  padding-top: 24px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray > p {
    padding-top: 38px;
    font-size: 20px;
    line-height: 27px;
    max-width: 290px;
  }
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray > p {
    max-width: 160px;
    float: none;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray > p {
    padding-left: 8px;
    font-size: 13px;
    line-height: 17px;
  }
}
.modal-dialog .modal-content .modal-body .bg_gray .txt-row_gray .img-item .img-container-gray-dubl {
  /* @deadcow */
}
.modal-dialog .modal-content .modal-body .bg_img_full {
  width: 100%;
  background-color: #ffffff;
  margin-top: -15px;
}
.modal-dialog .modal-content .modal-body .bg_img_full > img {
  width: 100%;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .bg_img_full > img {
    margin-top: 40px;
  }
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .bg_img_full > img {
    margin-top: 20px;
  }
}
@media (max-width: 550px) {
  .modal-dialog .modal-content .modal-body .bg_img_full > img {
    margin-top: 0px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle {
  background-color: #fafafa;
  width: 100%;
  padding-top: 40px;
  overflow: hidden;
  padding-bottom: 10px;
}
.modal-dialog .modal-content .modal-body .txt_middle h4 {
  float: none;
  clear: both;
  width: 100%;
  text-align: left;
  text-transform: none;
  font-size: 22px;
  line-height: 24px;
  color: #404040;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle h4 {
    max-width: 1280px;
    font-size: 28px;
    line-height: 34px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle h4 > br {
    display: none;
  }
}
@media (max-width: 650px) {
  .modal-dialog .modal-content .modal-body .txt_middle h4 {
    text-align: left;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .modal-dialog .modal-content .modal-body .txt_middle h4 {
    font-size: 18px;
    line-height: 22px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row {
  width: 100%;
  margin: 0 auto;
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item {
  width: 65%;
  float: left;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item {
    width: 100%;
    float: none;
    clear: both;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item {
    text-align: center;
    padding: 0px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > p {
  float: left;
  text-align: left;
  text-transform: none;
  color: #5b5b5b;
  font-size: 14px;
  line-height: 22px;
  padding-top: 40px;
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > p > img {
  float: left;
  margin-right: 7px;
  margin-top: 5px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > p > img {
    height: 16px;
    margin-top: 6px;
  }
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > p {
    font-size: 20px;
    line-height: 27px;
    padding-top: 60px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > p {
    padding-top: 20px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > img {
  max-width: 390px;
  float: left;
  width: 92%;
  margin-left: 25px;
}
@media (min-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > img {
    width: 85%;
    max-width: 728px;
    margin-left: 45px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item > img {
    width: 80%;
    margin: 35px auto 0px 25px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item:first-child {
  padding-left: 0px;
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .first-item .inner_item:last-child {
  padding-right: 0px;
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .second-item {
  width: 34%;
  float: left;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .second-item {
    width: 100%;
    float: none;
    clear: both;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .second-item > p {
  float: left;
  text-align: left;
  text-transform: none;
  color: #5b5b5b;
  font-size: 14px;
  line-height: 22px;
  padding-top: 40px;
}
.modal-dialog .modal-content .modal-body .txt_middle .middle_row .second-item > p > img {
  float: left;
  margin-right: 7px;
  margin-top: 5px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .second-item > p > img {
    height: 16px;
  }
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .second-item > p {
    font-size: 20px;
    line-height: 27px;
    padding-top: 60px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .middle_row .second-item > p {
    padding-top: 20px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .for_h4 {
  background-color: #fafafa;
  width: 100%;
  height: 140px;
  padding-top: 65px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .for_h4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .for_h4 > h4 {
  float: none;
  clear: both;
  width: 100%;
  text-align: left;
  text-transform: none;
  font-size: 22px;
  line-height: 24px;
  color: #404040;
  bottom: -20px;
  position: relative;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .for_h4 > h4 {
    font-size: 28px;
    line-height: 39px;
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .for_h4 > h4 {
    text-align: center;
    bottom: 0px;
    top: -20px;
  }
}
@media (max-width: 550px) {
  .modal-dialog .modal-content .modal-body .txt_middle .for_h4 > h4 {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 370px) {
  .modal-dialog .modal-content .modal-body .txt_middle .for_h4 > h4 {
    font-size: 16px;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .row_under_middle {
  width: 100%;
  margin: 0 auto;
  background: url('/img/site/modal/bg_gray.png') no-repeat top center;
  background-size: 100%;
  position: relative;
}
.modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .img_contain_mag {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .img_contain_mag {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .img_contain_mag {
    text-align: center;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .img_contain_mag .ios_mag_logo {
  margin-top: 50px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .img_contain_mag .ios_mag_logo {
    margin-top: 70px;
    height: 55px;
  }
}
@media (max-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .img_contain_mag .ios_mag_logo {
    max-height: 41px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .img_contain_mag .ios_mag_logo {
    margin-top: 0px;
    position: relative;
    top: -30px;
    margin: 0 auto;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .for_face {
  width: 190px;
  height: 190px;
  position: relative;
  top: -187px;
  left: 66%;
  border-radius: 95px;
  -webkit-box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
  -moz-box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
  box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .for_face {
    width: 240px;
    height: 240px;
    border-radius: 120px;
    top: -245px;
    left: 72%;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .for_face {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    text-align: center;
    top: -60px;
    left: 0px;
    margin: 0 auto;
  }
}
.modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .for_face .app_face {
  max-width: 191px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .for_face .app_face {
    max-width: 240px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_middle .row_under_middle .for_face .app_face {
    max-width: 120px;
  }
}
.modal-dialog .modal-content .modal-body .txt_bottom {
  background-color: #000320;
  height: 350px;
  width: 100%;
  padding-top: 35px;
  margin-top: -100px;
  z-index: 2;
  position: relative;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_bottom {
    height: 420px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_bottom {
    height: 450px;
    margin-top: 0px;
  }
}
.modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom {
    width: 85%;
    max-width: 1280px;
  }
}
@media (max-width: 992px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom {
    max-width: 260px;
  }
}
.modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom {
  min-height: 300px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom {
    min-height: 400px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom {
    min-height: 10px;
    text-align: center;
  }
}
.modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > p {
  float: none;
  clear: both;
  text-align: left;
  text-transform: none;
  font-family: arial !important;
  color: #d5d5d9;
  font-size: 14px !important;
  line-height: 19px !important;
  font-weight: bold;
  padding-top: 50px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > p {
    font-size: 20px !important;
    line-height: 27px !important;
    padding-top: 70px;
  }
}
.modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > p > span {
  font-weight: 100;
  color: #a3a5ae;
  font-family: arial !important;
  font-size: 14px !important;
  line-height: 19px !important;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > p > span {
    font-size: 20px !important;
    line-height: 27px !important;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > p {
    padding-top: 20px;
    text-align: center;
  }
}
.modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > img {
  float: right;
  margin-top: 120px;
}
@media (min-width: 1280px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > img {
    height: 42px;
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content .modal-body .txt_bottom .row_txt_bottom .item_bottom > img {
    float: none;
    margin-top: 36px;
  }
}
.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five,
.col-xl-five {
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-five {
  width: 20%;
  float: left;
}
@media (min-width: 640px) {
  .col-sm-five {
    width: 20%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-md-five {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-lg-five {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1440px) {
  .col-xl-five {
    width: 20%;
    float: left;
  }
}
@media (min-width: 900px) {
  #nom-1-modal {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}
@media (max-width: 900px) and (min-width: 768px) {
  #nom-1-modal {
    padding-right: 17px !important;
    padding-left: 17px !important;
  }
}
@media (max-width: 768px) {
  #nom-1-modal {
    padding-right: 17px !important;
  }
}
/*
 * Modal direction
 */
.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}
/* Alternative Angles */
.modal.fade:not(.in).top-left .modal-dialog {
  -webkit-transform: translate3d(-25%, -25%, 0);
  transform: translate3d(-25%, -25%, 0);
}
.modal.fade:not(.in).top-right .modal-dialog {
  -webkit-transform: translate3d(25%, -25%, 0);
  transform: translate3d(25%, -25%, 0);
}
.modal.fade:not(.in).bottom-left .modal-dialog {
  -webkit-transform: translate3d(-25%, 25%, 0);
  transform: translate3d(-25%, 25%, 0);
}
.modal.fade:not(.in).bottom-right .modal-dialog {
  -webkit-transform: translate3d(25%, 25%, 0);
  transform: translate3d(25%, 25%, 0);
}
/*# sourceMappingURL=site.css.map */