// MAIN PARAMS
@rootCss: '';
@img: '/img';


@txt-black: #0f1328;
@txt-gray: #6b6b6b;
@padding-top1: 10px;
@padding-top3-mobile: 20px;

@import "/../fonts/fonts";
@import "/buttons";

html,
body { height: 100%; }

.wrap {
    min-height: 100%;
    height: auto;
    // footer
    // margin: 0 auto -60px;
    // padding: 0 0 60px;
    > .container {
        padding: 70px 15px 20px;
    }
}
.container {
    width: 100% !important;
    padding: 0px 32px;
    @media (max-width: 768px){
        padding: 0px 15px;
    }
}

section {
    position: relative;
    padding: 50px 0px 50px 0px;
    overflow: hidden;

    @media (max-width: 992px){
        padding: 40px 0px;
    }
    @media (max-width: 768px){
        padding: 30px 0px;
    }
}

p, div, span, a, i, strong {
    font-family: "Geometria", Arial, Helvetica, Garuda, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    @media (max-width: 1200px){
        font-size: 22px;
    }
    @media (max-width: 992px){
        font-size: 20px;
    }
    @media (max-width: 768px){
        font-size: 18px;
    }
}

h2 {
    font-family: "Geometria_Bold", Arial, Helvetica, Garuda, sans-serif;
    color: @txt-black;
    font-weight: 400;
    font-size: 64px;
    margin: 0;
    padding: 0px;

    @media (max-width: 768px){
        font-size: 40px;
    }
    @media (max-width: 360px){
        font-size: 30px;
    }
}

body {

    #menu.scrolled {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: rgba(255, 255, 255, 0.9) !important;

        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    }

    /*
     * Меню
     */

    #menu {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        min-height: 64px;
        position: absolute;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        background: #fff;
        background: transparent;
        width: 100%;
        border:0px !important;

        @media(max-width: 769px) {
            background: rgba(255, 255, 255, 0.97);
            display: none;
        }

        .container {
            @media (max-width: 992px){
                width: auto;
                margin: 0px 20px;
            }
            @media (max-width: 768px){
                width: auto;
                margin: 0px 15px;
            }
        }

        li {
            margin-right: 18px;

            @media(max-width: 992px) {
                margin-right: 5px;
            }

            @media(max-width: 768px) {
                text-align: left;
            }

            a {
                &:hover, &:focus {
                    color: #5ad2fc !important;
                }
                font-family: "Geometria_Bold", Arial, Helvetica, Garuda, sans-serif;
                color: @txt-black;
                text-decoration: none !important;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                font-size: 14px;
                padding: 18px 2px 16px;

                @media(max-width: 768px) {
                }
            }
        }

        .navbar-brand {
            &:hover, &:focus {

            }
            width: 30px;
            height: 30px;
            background-color: #0d0e24;
            margin: 0px;
            margin-top:13px;
            margin-right: 13px;
            background: url('@{img}/site/menu/triangle.png') center center no-repeat;
        }

        .navbar-center {
            display: inline-block;
            float: none;
            vertical-align: top;
        }

        .navbar-collapse {
            text-align: center;

            @media(max-width: 768px) {
                max-height: inherit !important;
                max-height: none !important;
                height: auto;
            }
        }

        .navbar-collapse {
            max-height: 340px;  
            padding-right: 15px;
            padding-left: 15px;
            overflow-x: visible;
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            -webkit-overflow-scrolling: touch;
        }

        .navbar-collapse.in {
            overflow-y: auto;
        }

        // выпадение
        .dropdown-menu {
            left: -55px;
            margin-top: -5px !important;

            @media(max-width: 768px) {
                display: block;
                position: relative;
                left: 0px;
                top: 0px;
                margin-top: 0px;
                width: 100%;
                border: 0px;
                -webkit-box-shadow: none;
                box-shadow: none;
                float: left;
            }
        }

        .navbar-toggle {
            &:hover, &:focus {
                background-color: #2AAEF5;
                .icon-bar {
                    background-color: #fff;
                    width: 22px;
                }
            } 
            margin-top: 20px;
            margin-right: 0px;
            border: 1px solid #2AAEF5;
            border-color: #2AAEF5;
            color: #2AAEF5;
            padding: 7px 4px;

            .toggle-button.js-hover {}


            .icon-bar {
                background-color: #2AAEF5;
                width: 22px;
            }
        }

    }

    .mobile_menu {
        display: none;
        @media(max-width: 768px) {
            display: block;
            position: absolute;
            position: fixed;
            left: 0;
            bottom: 0;
            background: black;
            overflow: hidden;
            width: 100%;
            z-index: 1000;
        }
        background: black;
        overflow: hidden;

        #menumobile {
            position: relative;
            overflow: hidden;
            padding: 10px 0px;

            .item {
                text-align: center;

                @media (max-width: 340px){
                    padding: 0px;
                }
            }
        }
    }

    /*
     * Header
     */


    header {
        overflow: hidden;        
        padding: 0px;
        padding-bottom: 50px;
        min-height: 550px;

        @media (max-width: 768px){
            min-height: 350px;
            background: url('/img/site/index/header/bg460.jpg') no-repeat bottom center;
            background-size: cover;
        }

        .bg {
            width: 100%;
        }

        .bg1900 {
            display: none;
            @media (min-width: 1250px){
                display: block;
            }
        }
        .bg1200 {
            display: none;
            @media (min-width: 768px) and (max-width: 1250px){
                display: block;
            }
        }
        .bg768 {
            display: none;
            @media (min-width: 550px) and (max-width: 768px){
                display: block;
            }
        }
        .bg500 {
            display: none;
            @media (min-width: 400px) and (max-width: 550px){
                display: block;
            }
        }
        .bg460 {
            display: none;
            @media (min-width: 300px) and (max-width: 400px){
                display: block;
            }
        }
        .bg400 {
            display: none;
            @media  (max-width: 300px){
                display: block;
            }
        }

        .container {
            position: absolute;
            z-index: 2;
        }

        div.title {
            font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
            color: @txt-black;
            margin-top: 150px;

            @media (max-width: 992px){
                margin-top: 100px;
            }
            @media (max-width: 768px){
                margin-top: 60px;
                padding-bottom: 20px;
            }

            img { vertical-align: top; }
        }
        p, span {
            font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
            color: @txt-black;

            @media (max-width: 768px){
            }

            img { vertical-align: top; }
        }
        p.our {
            margin-top: 30px;
        }
        .logo {
            margin: 10px 0px 15px;
            @media (max-width: 992px){
                width: 220px;
            }
        }
    }

    /*
     * Наши работы
     */
    section.our_works {
        padding: 0px 0px 0px 0px;
        background: transparent;
        @media (max-width: 768px){
            .container {
                padding: 0px 15px;
            }
        }

        h2 {
            margin-bottom: 50px;
            img { 
                vertical-align: top; 
                display: inline-block;
                margin-left: 10px;
                @media (max-width: 768px){
                    position: relative;
                    top: -30px;
                }
                @media (max-width: 360px){
                    height: 50px;
                }
            }
            br {
                display: none;
                @media (max-width: 768px){
                    display: block;
                }
            }

            @media (max-width: 768px){
                font-size: 40px;
                margin-top: 80px;
                margin-bottom: 10px;
            }
            @media (max-width: 360px){
                font-size: 30px;
            }

        }

        .items {
            overflow: hidden;
            display: none;
            width: 100%;
            margin:0px;
            padding:0px;
            border-collapse: collapse;
            background: #000;

            .items_row {
                display: table-row;
                margin:0px;
                padding:0px;
            }

            .item {
                position: relative;
                overflow: hidden;
                padding: 10px;
                padding-top: 120px;
                background-size: cover;
                background-repeat: no-repeat;
                display: table-cell;
                width: 16.6%;
                box-sizing: border-box;
                vertical-align: bottom;
                cursor: pointer;

                .in {
                }



                .title {
                    padding-top: 25px;
                    font-family: "Geometria_Bold", Arial, Helvetica, Garuda, sans-serif;
                    color: #fff;
                    font-size: 32px;
                    line-height: 32px;
                }

                .info {
                    padding-top: 10px;
                    font-family: "Geometria", Arial, Helvetica, Garuda, sans-serif;
                    color: #fff;
                    font-size: 14px;

                }

                .type {
                    padding-top: 25px;
                }



            }
        }

        .items.size_1920 {
            @media (min-width: 1280px){
                display: table;
            }
        }
        .items.size_1280 {
            @media (min-width: 768px) and (max-width: 1280px){
                display: table;
            }
        }
        .items.size_768 {
            @media (max-width: 768px){
                display: block;

                .items_row {
                    display: block;
                    width: 100%;
                    .item {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }


    }

    /*
     * Platforma
     */
    section.platforma {
        background: url('@{img}/site/index/platforma/bg.png') bottom center no-repeat #f9cd3f;
        background-size: contain;
        background-color: #f9cd3f;
        min-height: 600px;
        @media (max-width: 768px){
            min-height: 450px;
            background: url('@{img}/site/index/platforma/bg_mobile2.png') bottom center no-repeat #f9cd3f;
            background-size: contain;
        }
        @media (max-width: 500px){
            min-height: 450px;
            background: url('@{img}/site/index/platforma/bg_mobile.png') bottom center no-repeat #f9cd3f;
            background-size: contain;
        }

        p {
            font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
            color: @txt-black;
            max-width: 50%;
            clear: both;
            margin: 30px 0px;

            @media (max-width: 768px){
                max-width: 90%;
            }
        }

        .right {
            float: right;
            margin-top: 25px;
            @media (max-width: 768px){
                margin-top: 0px;
            }

            a {
                &:hover,&:focus {
                    text-decoration: none;
                }
                font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
                color: @txt-black;
                font-size: 14px;
                display: inline-block;
            }
        }
    }

    /*
     * Команда
     */
    section.team {
        background: #fff;
        min-height: 600px;

        p {
            font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
            color: @txt-black;
            font-size: 24px;
            max-width: 50%;
            clear: both;
            margin: 30px 0px;
        }

        .items {
            overflow: hidden;
            padding: 50px 40px 10px 40px;
            @media (max-width: 768px){
                padding: 30px 0px 0px 0px;
                max-width: 250px;
                margin: 0 auto;
            }

            .item{
                float: left;
                width: 130px;
                height: 200px;
                margin-right: 20px;
                margin-bottom: 30px;
                @media (max-width: 768px){
                    width: 110px;
                    height: auto;
                }

                img {
                    @media (max-width: 768px){
                        max-width: 100px;
                    }
                }

                .name {
                    font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
                    color: @txt-black;
                    font-size: 14px;
                    text-align: center;
                }

                .position {
                    color: @txt-black;
                    font-size: 10px;
                    text-align: center;
                }
            }
            .item:nth-child(2n){
                @media (max-width: 768px){
                    margin-right: 0px;
                }
            }
        }

        .right {
            float: right;
            margin-top: 25px;
            @media (max-width: 768px){
                display: none;
            }

            a {
                &:hover,&:focus {
                    text-decoration: none;
                    background: #f4f4f4;
                }
                font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
                color: @txt-black;
                font-size: 14px;
                display: inline-block;
                border-radius: 4px;
                padding: 4px 10px;
                border: 2px dashed #e0e0e0;
            }
        }
    }

    /*
     * Команда
     */
    section.contacts {
        background: #0f1328;
        min-height: 300px;

        h2 {
            color: #fff;
        }

        .items{
            margin-top: 50px;

            >div {
                float: left;
                font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
                color: #fff;
                font-size: 24px;
                margin-right: 100px;
                margin-bottom: 30px;

                @media (max-width: 1200px){
                    margin-right: 50px;
                    font-size: 22px;
                }
                @media (max-width: 1050px){
                    margin-right: 30px;
                    font-size: 22px;
                }
                @media (max-width: 992px){
                    margin-right: 30px;
                    font-size: 20px;
                }
                @media (max-width: 768px){
                    float: none;
                    width: 100%;
                    margin: 0px auto;
                    margin-bottom: 30px;
                    font-size: 18px;
                }

                img {
                    vertical-align: top;
                }
            }
            >div:last-child {
                margin-right: 0px;
            }
        }

        .right {
            float: right;
            margin-top: 25px;
            @media (max-width: 768px){
                display: none;
            }

            a {
                font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
                color: #fff;
                font-size: 14px;
            }
        }

        .social {
            margin-top: 30px;

            a {
                font-family: "Geometria_Medium", Arial, Helvetica, Garuda, sans-serif;
                color: #fff;
                font-size: 14px;
            }
        }

    }


}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



.modal-windows-container {
    min-height: 230px;
    background-color: #ffffff;
    .container {
        text-align: center;
        .btn-modal-view {
            &:hover, &:focus {
                text-decoration: none;
                background: darken(#2f9123, 10%);
            }   
            margin-bottom: 50px;         
            font-family: arial;
            font-weight: bold;
            padding: 8px 40px;
            font-size: 20px;
            color: #ffffff;
            background-color: #2f9123;
            border: none;
            border-radius: 22px;
            outline: none;         

            -webkit-box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
            -moz-box-shadow:    -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
            box-shadow:         -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
        }
    }
}

.modal-dialog {
    max-width: 840px;
    width: 100%;
    .modal-content {
        max-width: 840px;
        width: 100%;
        border: 1px solid #c0b6bb;
        border-radius: 0px;
        background-color: #fafafa;
        .modal-header { display: none; }
        .modal-body {
            background-color: #fafafa;
            padding: 0 !important;
            margin: 0 !important;
            min-height: 2600px;
            .high-div {
                margin-top: 77px;
                width: 100%;
                height: 100px;

                > p { 
                    float: left;
                    padding-left: 72px;
                    @media(max-width: 650px) { padding-left: 40px; }
                    @media(max-width: 381px) { padding-left: 25px; }
                    @media(max-width: 360px) { padding-left: 18px; }
                    > img {
                        max-width: 80px;
                        @media(max-width: 650px) { max-width: 60px; }
                    }
                }
                > h2 {
                    float: left;
                    text-align: left;
                    text-transform: none;
                    padding-left: 22px;
                    padding-top: 16px;
                    font-family: arial;
                    font-weight: bold;                    
                    font-size: 23px;
                    line-height: 22px;
                    color: #404040;
                    @media(max-width: 650px) { padding-top: 9px; }
                    @media(max-width: 420px) { padding-top: 7px; font-size: 19px; line-height: 22px; padding-left: 16px; }
                    @media(max-width: 360px) { font-size: 18px; padding-left: 12px; padding-right: 0px !important; }
                }
                .right-mobile {
                    float: right;
                    width: 120px; 
                    margin-top: 15px;
                    margin-right: 50px;
                    > p { margin-right: 9px; }  
                    @media(max-width: 650px) { margin-right: 20px; } 
                    @media(max-width: 550px) { display: none; }               

                    .first {
                        float: left;
                        padding-top: 29px;
                        font-size: 0px !important;
                        > img {
                            max-height: 18px;
                        }                        
                    }
                    .second {
                        float: left;
                        padding-top: 8px;
                        > img {
                            max-height: 40px; 
                        }
                    }
                    .third { 
                        float: left;
                        > img {
                            max-height: 48px; 
                        }
                    }
                }
            }

            .big_img {
                width: 100%;   
                padding-top: 50px;             
                > img { 
                    @media(max-width: 768px) { width: 95% }
                } 
            }

            .txt-row {
                width: 85%;
                margin: 0 auto;
                margin-top: 34px;
                margin-bottom: 40px;
                @media(max-width: 800px) { max-width: 600px; }                     
                @media(max-width: 768px) { width: 100%; max-width: 500px; } 
                @media(max-width: 650px) { max-width: 400px; }
                .txt-item {

                    @media(max-width: 768px) { padding-top: 20px; }
                    > h3 {                        
                        text-align: left;
                        text-transform: none;                     
                        font-family: arial;
                        font-weight: bold;                    
                        font-size: 14px;                        
                        color: #434343;
                        margin-bottom: 2px;
                        padding-left: 20px;
                        @media(max-width: 768px) { padding-left: 0px; }
                        @media(max-width: 550px) { padding-left: 15px; padding-right: 15px; }
                    }
                    > p {
                        text-align: left;
                        text-transform: none; 
                        font-family: arial;                         
                        color: #5b5b5b;
                        font-size: 14px;
                        line-height: 19px;
                        padding-left: 20px;
                        @media(max-width: 768px) { padding-left: 0px; }
                        @media(max-width: 550px) { padding-left: 15px; padding-right: 15px; }
                    }
                }
            }

            .bg_gray {                
                float: none;
                clear: both;
                width: 100%;
                min-height: 1170px;
                height: auto;
                background: url('@{img}/site/modal/bg_gray.png') no-repeat top center #ffffff;                 
                padding-top: 40px;
                .text_gray {
                    max-width: 676px;                        
                    width: 100%;
                    margin: 0 auto;
                    height: 120px;
                    text-align: center;
                    margin-top: 50px;  
                    @media(max-width: 768px) { max-width: 500px; } 
                    @media(max-width: 650px) { max-width: 400px; }                  
                    > p {
                        display: block;
                        max-width: 676px;
                        width: 100%;
                        margin: 0 auto !important;                        
                        float: left;
                        text-align: left;
                        text-transform: none;                        
                        font-family: verdana;                                           
                        font-size: 22px;
                        line-height: 24px;
                        color: #404040; 
                        @media(max-width: 800px) { max-width: 600px; }
                        @media(max-width: 768px) { max-width: 500px; margin: 0 auto !important;   }
                        @media(max-width: 650px) { 
                            max-width: 400px; 
                            margin-left: 20px !important; 
                            margin-right: 20px !important;
                            font-size: 18px;
                            line-height: 22px;
                        }
                        @media(max-width: 550px) {width: 100%; margin: 0 auto !important; padding-left: 15px; padding-right: 15px; }
                        > span {                             
                            font-weight: bold; 
                            font-family: arial; 
                            font-size: 23px;
                            @media(max-width: 650px) { font-size: 18px; }
                        }
                    }
                }
                .big_img_gray {
                    width: 100%;
                    text-align: right;
                    padding-top: 30px;                   
                    > img {
                        @media(max-width: 768px) { width: 95% }
                    }
                }

                .txt-row_gray {
                    background-color: #ffffff;
                    max-width: 700px;
                    width: 100%;
                    margin: 0 auto;                    

                    > h4 {
                        float: none;
                        clear: both;
                        width: 100%;
                        max-width: 700px;
                        text-align: left;
                        text-transform: none;                        
                        font-family: verdana;                                           
                        font-size: 22px;
                        line-height: 24px;
                        color: #404040;
                        @media(max-width: 800px) { margin-left: 50px; }
                        @media(max-width: 768px) { margin-left: 70px; max-width: 400px; }                            
                        @media(max-width: 650px) { text-align: center; margin-left: 20px; margin-right: 20px; } 
                        @media(max-width: 550px) { font-size: 18px; line-height: 22px; }
                        @media(max-width: 500px) { margin: 0 auto; padding-left: 15px; padding-right: 15px; }
                    } 
                    .txt-item {
                        padding-top: 40px;                        
                        > p {
                            text-align: left;
                            text-transform: none; 
                            font-family: arial;                         
                            color: #5b5b5b;
                            font-size: 14px;
                            line-height: 19px;  
                            @media(max-width: 768px) { max-width: 500px; margin: 0 auto; } 
                            @media(max-width: 550px) { padding-left: 20px; padding-right: 20px; }
                        }
                        > p:last-child { padding-top: 55px; }
                    }
                    .img-item {
                        padding-top: 30px;                        
                        .img-container-gray { 
                            width: 100%;
                            height: 110px;    
                            background-color: #f5f5ea;  
                            margin-top: 47px;   
                            @media(max-width: 768px) { max-width: 500px; margin: 0 auto; margin-top: 50px; }  
                            @media(max-width: 650px) { max-width: 400px; }        
                            > img {
                                float: left;
                                position: relative;
                                top: -42px;
                                margin-left: 20px;
                                max-height: 132px;
                                @media(max-width: 650px) { margin-left: 10px; }
                            } 
                            > p {
                                max-width: 180px;
                                float: left;
                                text-align: left;
                                text-transform: none; 
                                font-family: arial;                         
                                color: #5b5b5b;
                                font-size: 14px;
                                line-height: 19px;
                                padding-left: 20px;
                                padding-top: 24px;
                                @media(max-width: 650px) { max-width: 160px; }
                                @media(max-width: 360px) { padding-left: 8px; font-size: 13px; line-height: 17px; }
                            }
                        }
                    }
                }

            }

            .bg_img_full {
                width: 100%;
                background-color: #ffffff;
                margin-top: -15px;
                > img {
                    width: 100%;
                    @media(max-width: 768px) { margin-top: 40px; }
                    @media(max-width: 650px) { margin-top: 20px; }
                    @media(max-width: 550px) { margin-top: 0px; }
                }    
            }  

            .txt_middle {
                background-color: #fafafa;
                width: 100%;
                padding-top: 40px;
                > h4 {
                    float: none;
                    clear: both;
                    width: 100%;
                    max-width: 500px;
                    margin-left: 70px;
                    text-align: left;
                    text-transform: none;                        
                    font-family: verdana;                                           
                    font-size: 22px;
                    line-height: 24px;
                    color: #404040; 
                    @media(max-width: 650px) { max-width: 400px; margin-left: 20px; margin-right: 20px; text-align: center; } 
                    @media(max-width: 550px) { font-size: 18px; line-height: 22px; }  
                    @media(max-width: 500px) { margin: 0 auto; padding-left: 15px; padding-right: 15px; }            
                }
                .middle_row {
                    max-width: 730px;
                    width: 100%;
                    margin: 0 auto;
                    @media(max-width: 768px) { max-width: 400px; }
                    .first-item {
                        width: 65%;
                        float: left;
                        @media(max-width: 768px) { width: 100%; float: none; clear: both; }
                        .inner_item {
                            @media(max-width: 768px) { text-align: center; }
                            > p {
                                > img {
                                    float: left;
                                    margin-right: 7px;
                                    margin-top: 5px;                                    
                                }                                
                                float: left;
                                text-align: left;
                                text-transform: none; 
                                font-family: arial;                         
                                color: #5b5b5b;
                                font-size: 14px;
                                line-height: 22px;
                                padding-left: 10px;
                                padding-top: 40px;
                                @media(max-width: 600px) { padding-left: 15px; padding-right: 15px; }
                            } 
                            > img {
                                //big picture
                                max-width: 390px;
                                float: left;
                                width: 92%;
                                margin-left: 25px;
                                @media(max-width: 768px) { width: 80%; margin: 35px auto 0px 25px; }
                            }           
                        }
                    }
                    .second-item {
                        width: 34%;
                        float: left;
                        padding-bottom: 40px;
                        @media(max-width: 768px) { width: 100%; float: none; clear: both; }
                        > p {
                            > img {
                                float: left;
                                margin-right: 7px;
                                margin-top: 5px;
                            }                                
                            float: left;
                            text-align: left;
                            text-transform: none; 
                            font-family: arial;                         
                            color: #5b5b5b;
                            font-size: 14px;
                            line-height: 22px;
                            padding-left: 10px;
                            padding-top: 40px;
                            @media(max-width: 600px) { padding-left: 15px; padding-right: 15px; }
                        }  
                    }            
                }

                .for_h4 {
                    background-color: #fafafa;
                    width: 100%;
                    height: 140px;
                    padding-top: 65px;
                    > h4 {
                        float: none;
                        clear: both;
                        width: 100%;
                        max-width: 700px;                        
                        text-align: left;
                        text-transform: none;                        
                        font-family: verdana;                                           
                        font-size: 22px;
                        line-height: 24px;
                        color: #404040; 
                        padding-left: 70px;
                        @media(max-width: 550px) { font-size: 18px; line-height: 22px; }
                        @media(max-width: 500px) { padding-left: 20px; }
                        @media(max-width: 450px) { padding-left: 15px; }
                        @media(max-width: 370px) { font-size: 16px; padding-left: 12px; }
                    }
                }

                .row_under_middle {
                    width: 100%;
                    margin: 0 auto;
                    background: url('@{img}/site/modal/bg_gray.png') no-repeat top center #ffffff;                    
                    .ios_mag_logo {
                        margin-top: 50px;
                        margin-left: 70px;
                        @media(max-width: 500px) { margin-left: 20px; }
                        @media(max-width: 450px) { margin-left: 15px; }
                    }
                    .for_face {
                        width: 190px;
                        height: 190px;
                        position: relative;
                        top: -187px;
                        left: 66%;
                        border-radius: 95px;

                        -webkit-box-shadow: -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
                        -moz-box-shadow:    -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
                        box-shadow:         -4px 3px 16px 0px rgba(50, 50, 50, 0.39);
                        @media(max-width: 650px) { 
                            width: 120px;
                            height: 120px;
                            border-radius: 60px;
                            top: -152px;
                        }
                        @media(max-width: 450px) {  
                            width: 90px;
                            height: 90px;
                            border-radius: 45px;
                            top: -134px; 
                            margin-bottom: 50px;                            
                        }
                        .app_face {                            
                            max-width: 191px;
                            @media(max-width: 650px) { max-width: 120px; }
                            @media(max-width: 450px) { max-width: 90px; }
                        }
                    }
                }

            }

            .txt_bottom {
                background-color: rgb(0,3,32);
                height: 350px;
                width: 100%;
                padding-top: 35px;
                margin-top: -100px;  
                @media(max-width: 768px) { height: 450px; }              
                .row_txt_bottom {
                    max-width: 700px;
                    width: 100%;
                    margin: 0 auto;
                    @media(max-width: 992px) { max-width: 600px; }
                    @media(max-width: 768px) { max-width: 260px; }
                    .item_bottom {
                        min-height: 300px;
                        @media(max-width: 768px) { 
                            min-height: 10px; 
                            text-align: center;
                        }
                        > p {
                            float: none;
                            clear: both;
                            text-align: left;
                            text-transform: none; 
                            font-family: arial !important;                        
                            color: #d5d5d9;
                            font-size: 14px !important;
                            line-height: 19px !important;
                            font-weight: bold;
                            padding-top: 50px;
                            > span { 
                                font-weight: 100; 
                                color: #a3a5ae; 
                                font-family: arial !important;
                                font-size: 14px !important;
                                line-height: 19px !important;
                            }
                            @media(max-width: 768px) { padding-top: 20px; text-align: center; }                            
                        }            
                        > img {
                            //float: none;
                            float: right;
                            margin-top: 120px;
                            @media(max-width: 768px) { float: none; margin-top: 36px; }
                        }  
                    }
                }
            }


        }
    }
}

.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five,
.col-xl-five {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-five {
    width: 20%;
    float: left;
}

@media (min-width: 640px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 768px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1024px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1440px) {
    .col-xl-five {
        width: 20%;
        float: left;
    }
}

#nom-1-modal { 
    @media(max-width: 900px) { padding-right: 17px !important; }   
}