@fontPath: '/fonts';

@font-face {
    font-family: "icons";
    src: url("@{fontPath}/icons/icons.eot");
    src: url("@{fontPath}/icons/icons.eot#iefix") format('eot'), 
        url("@{fontPath}/icons/icons.woff2") format('woff2'), 
        url("@{fontPath}/icons/icons.woff") format('woff'), 
        url("@{fontPath}/icons/icons.ttf") format('truetype'), 
        url("@{fontPath}/icons/icons.svg") format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: "PTSans_regular";
    src: url("@{fontPath}/PTSans/Regular/font.eot");
    src: url("@{fontPath}/PTSans/Regular/font.eot#iefix") format('eot'), 
        url("@{fontPath}/PTSans/Regular/font.woff2") format('woff2'), 
        url("@{fontPath}/PTSans/Regular/font.woff") format('woff'), 
        url("@{fontPath}/PTSans/Regular/font.ttf") format('truetype'), 
        url("@{fontPath}/PTSans/Regular/font.svg") format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: "PTSans";
    src: url("@{fontPath}/PTSans/Bold/font.eot");
    src: url("@{fontPath}/PTSans/Bold/font.eot#iefix") format('eot'), 
        url("@{fontPath}/PTSans/Bold/font.woff2") format('woff2'), 
        url("@{fontPath}/PTSans/Bold/font.woff") format('woff'), 
        url("@{fontPath}/PTSans/Bold/font.ttf") format('truetype'), 
        url("@{fontPath}/PTSans/Bold/font.svg") format('svg');
    font-weight: 600;
}

@font-face {
    font-family: "PTSans_italic";
    src: url("@{fontPath}/PTSans/Italic/font.eot");
    src: url("@{fontPath}/PTSans/Italic/font.eot#iefix") format('eot'), 
        url("@{fontPath}/PTSans/Italic/font.woff2") format('woff2'), 
        url("@{fontPath}/PTSans/Italic/font.woff") format('woff'), 
        url("@{fontPath}/PTSans/Italic/font.ttf") format('truetype'), 
        url("@{fontPath}/PTSans/Italic/font.svg") format('svg');
    font-weight: normal;
    font-style: italic; 
}

@font-face {
    font-family: "OpenSans";
    src: url("@{fontPath}/OpenSans/Regular/font.eot");
    src: url("@{fontPath}/OpenSans/Regular/font.eot#iefix") format('eot'), 
        url("@{fontPath}/OpenSans/Regular/font.woff") format('woff'), 
        url("@{fontPath}/OpenSans/Regular/font.ttf") format('truetype'), 
        url("@{fontPath}/OpenSans/Regular/font.svg") format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans_semi";
    src: url("@{fontPath}/OpenSans/SemiBold/font.eot");
    src: url("@{fontPath}/OpenSans/SemiBold/font.eot#iefix") format('eot'), 
        url("@{fontPath}/OpenSans/SemiBold/font.woff2") format('woff2'), 
        url("@{fontPath}/OpenSans/SemiBold/font.woff") format('woff'), 
        url("@{fontPath}/OpenSans/SemiBold/font.ttf") format('truetype'), 
        url("@{fontPath}/OpenSans/SemiBold/font.svg") format('svg');
    font-weight: 600;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans_bold";
    src: url("@{fontPath}/OpenSans/Bold/font.eot");
    src: url("@{fontPath}/OpenSans/Bold/font.eot#iefix") format('eot'), 
        url("@{fontPath}/OpenSans/Bold/font.woff2") format('woff2'), 
        url("@{fontPath}/OpenSans/Bold/font.woff") format('woff'), 
        url("@{fontPath}/OpenSans/Bold/font.ttf") format('truetype'), 
        url("@{fontPath}/OpenSans/Bold/font.svg") format('svg');
    font-weight: bold;
    font-style: normal; 
}